/* CardsBiblioteca.module.css */
.custom-section .scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 5px;
}

.custom-section .scrolling-wrapper::-webkit-scrollbar {
    height: 10px;
    width: 20px;
}

.custom-section .scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #f4f0f0;
    border-radius: 30px;
}

.custom-section .scrolling-wrapper .card {
    display: inline-block;
}

.custom-section h2 {
    color: rgb(255, 255, 255) !important;
}

.custom-section .Cursos_biblioteca a {
    text-decoration: none !important;
    color: inherit !important;
}

.custom-section .card-img-top {
    height: 250px !important;
    object-fit: cover !important;
}

.custom-section .card {
    background-color: transparent !important;
    width: 18rem;
    margin-right: 5px;
    transition: 1s;
}

.custom-section .card img {
    filter: brightness(40%);
    box-sizing: border-box;
    border-radius: 20px;
    transition: 1s;
}

.custom-section a:hover .card {
    filter: brightness(180%);
}

.custom-section a:hover .card h5 {
    font-size: 25px;
    transition: 1s;
}

.custom-section .card h5 {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    color: white !important;
    transition: 1s;
}
