.LoginContainer {
  display: flex;
  height: 100vh;
  background-color: #1b1a1a;
}

.loginForm {
  background-color: #efeeee;
  padding: 40px;
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm img {
  width: 100px;
}

.loginForm h1{
  color: black;
  font-size: 40px;
}

.loginForm h3{
  color: black;
  font-size: 20px;
}

.loginForm h1, .loginForm h3 {
  text-align: center;
}

.loginForm input {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #000; 
  outline: none; /*Tirar contorno ao clicar na caixa de input*/
  font-weight: bold;
  background-color: transparent; /* Fundo transparente */
}

.loginForm input::placeholder {
  font-weight: bold; 
  color: #000; 
}

/*Mudar estilo do input ao clicar*/
.loginForm input:focus {
  color: #000;
  border-bottom: 2px solid #623cea;
}

#esqueceuSenha{
  text-align: right;
}

.loginForm a {
  display: block;
  text-align: center;
  margin: 10px 0;
  text-decoration: none;
  color: black;
}

.loginForm a:hover{
  color:#623cea;
}

#alert{
  color: #ff2800;
}

.loginForm button {
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  transition: .2s;
}

.loginForm button:hover {
  transition: .2s;
  background-color: #623cea;
}

.loginImg {
  width: 60%; /* A imagem ocupará 60% da página */

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginImg img {
  width: 50%; /* A imagem ocupará 70% da largura da div */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (max-width: 920px){
  .LoginContainer{
    background-color: #1b1a1a;
    padding: 10% 0;
  }

  .loginForm{
    width: 80%; /* Reduzir a largura para que o background fique visível */
    margin: 0 auto; /* Centralizar o formulário */
  }

  .loginImg{
    display: none;
  }

  .loginForm h1 {
    font-size: 8vw;
  }

  .loginForm h3{
    font-size: 4vw;
  }
}