.SearchBook .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.SearchBook .top h1{
  color: #f4f0f0;
}

.SearchBook .top button{
  padding: 10px;
  background-color: #ffbe0b;
  color: 0;
  border: none;
  border-radius: 10px;
  transition: .2s;
}

.SearchBook .top button:hover{
  background-color: #d39d0a;
}

.SearchBook .books-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.SearchBook .book-item {
  background-color: #623cea;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  text-align: center;
}

.SearchBook .book-item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}

.SearchBook .books-container .book-item a{
  text-decoration: none;
  color: #f4f0f0;
}


.SearchBook .book-item:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .SearchBook .books-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .SearchBook .books-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .SearchBook .books-container {
    grid-template-columns: 1fr;
  }
}