.BookList-container {
  padding: 1% 10%;
  margin: 20px 0px;
}

.BookList-container h3 {
  color: #f4f0f0;
  font-size: 2.5vw;
  margin-bottom: 2%;
}

.BookList-container .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookList-container img {
  width: 100%;
  height: 230px; /* Altura fixa */
  object-fit: cover; /* Faz a imagem cobrir a área sem distorcer */
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

/* Arrows */
.BookList-container .slick-prev:before, 
.BookList-container .slick-next:before {
  color: white;
  font-size: 30px;
  opacity: 1;
}

/* Estilo do card */
.BookList-container .book-card {
  position: relative;
  overflow: hidden;
  padding: 0 10px; /* Espaçamento lateral de 10px */
  box-sizing: border-box; /* Inclui padding no tamanho total */
  max-width: 300px;
}

/* Overlay que aparece no hover */
.BookList-container .overlay {
  position: absolute;
  top: 0;
  left: 10px; /* Para alinhar com o padding */
  right: 10px; /* Para alinhar com o padding */
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Mostra o overlay no hover */
.BookList-container .book-card:hover .overlay {
  opacity: 1; /* Mostra o overlay ao passar o mouse */
}

.BookList-container .details-button {
  background: none; /* Cor de fundo do botão */
  color: #f4f0f0;
  border: #f4f0f0 3px solid !important;
  padding: 10px 20px; /* Espaçamento interno do botão */
  transition: background-color 0.2s ease; /* Transição suave */
}

.BookList-container .details-button:hover {
  background-color: #623CEA; /* Cor de fundo ao passar o mouse */
  border: #623CEA 3px solid !important;

}

/* Media Queries */
@media only screen and (min-width: 1025px) {
  .BookList-container .slick-dots {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .BookList-container .slick-dots li button:before {
    visibility: visible;
    color: white;
    font-size: 12px;
    opacity: 0.5;
  }

  .BookList-container .slick-dots li.slick-active button:before {
    visibility: visible;
    color: white;
    opacity: 1;
  }

  .BookList-container .slick-prev, .slick-next {
    display: none !important;
  }
}


