/*Media query para ajustamento das imagens em telas de 990px ou menos de largura */
@media only screen and (max-width: 991px){
    #CardsListG .card{
        margin-bottom: 20px !important;
    }
}

/*Mais acessados*/
#CardsListG .card-text{
    color: black !important;
}

/*LIVROS RECOMENDADOS*/
#CardsListG .card{
    background-color: #fff !important;
    border: 3px solid #623CEA !important;  
    width: 18rem !important;
    padding: 15px !important;
}

#CardsListG .card a{
    background-color: #623CEA !important;
}


#CardsListG .card-img-size{
    height: 200px;
    object-fit: cover;
}

/*Media query para espaçamento dos cards para telas de 990px ou menos de largura */
@media only screen and (max-width: 991px){
    #CardsListG .card{
        margin-bottom: 20px !important;
    }
}