/*Alterando carrossel de imagens*/
.carousel-img {
    width: 100% !important;
    object-fit: cover;
    object-position: center;
    max-height: 550px !important; 
}

/*Media query para ajustamento das imagens em telas de 990px ou menos de largura */
@media only screen and (max-width: 991px){
    #MaisAcessados .card{
        margin-bottom: 20px !important;
    }
}

#resenhas-livros {
    background-color: rgb(27, 26, 26) !important; 
    padding-top: 60px; 
    padding-bottom: 30px; 
    color: white; 
}

#resenhas-livros .card {
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    background-color: white !important;
    border: 3px solid #623CEA;
}

#resenhas-livros .card h5,
#resenhas-livros .card p {
    color: black !important; 
}

#resenhas-livros .card-img-top {
    height: 200px; 
    object-fit: cover; 
}

#resenhas-livros a{
    background-color: #623CEA !important;
}