/*GERAL*/

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(27, 27, 27) !important;
}

/*---------------------------*/

/*BLOCO LOGIN*/

#bloco_login{
  background-color: rgb(43, 41, 41);
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%; 
  height: 80%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#imagem{
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100%;
  width: 50%;
  background: url(./images/frase01.png) no-repeat center center;
  background-size: cover;
  float: right;
}

.img-fluid{
  width: 400px !important;
}


@media only screen and (max-width: 1024px){
  #imagem{
    display: none;
    visibility: hidden;
    position: static;
  }
  
  #loginDocument{
    display: block;
    text-align: center;
    margin-top: 5%;
    width: 85%;
     
  }

  #input-group{
    width: 100% !important;
  }

}


#login{
  text-align: center;
  margin-top: 3%;
}

#logo{
  font-size: 60px;
  text-shadow: 4px 4px 2px rgb(0, 0, 0); 

}

/*---------------------------*/

/*FORMULARIO*/

#loginDocument{
  text-align: left;
  margin-left: 7%;
}

#labelDocument, #labelPassword{
  font-size: 30px;
  color:  rgb(219, 219, 230);
  font-family: Arial, Helvetica, sans-serif;
}

#submit{
  margin-top: 0px;
  background-color: #FFBE0B;
  height: 70px;
  font-size: 30px;
  transition: 0.3s;
}

#submit:hover{
  background-color:#dea50a;
}

.input-group{
  width: 40% !important;
  height: 20px;
  border-radius: 10px;
  margin: 5px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.input-group input{
  border: none;
}

.input-group-text {
  border-radius: 10px;
  border-color: white;
  background-color: white; /* Altere para a cor desejada */
}

.input-group-append{
  border-radius: 10px;
}

.input-group-text i {
  color: black; /* Defina uma cor de texto que contraste com a cor de fundo */
}

.errorMessageLogin, .errorMessagePassword{
  color: red;
  display: none;
  margin: 0px;
  padding: 0px;
}

/*---------------------------*/

/*CORES*/
.amarelo{
  color: #FEBF00;
}

.azul{
  color: #00427F;
}
/*---------------------------*/

/*FONTES*/

/*---------------------------*/